src/nodered/flow.json
[
  {
    "id": "3a85f2d5ff35d604",
    "type": "mqtt out",
    "z": "8e0d5b8d64ed9e2a",
    "d": true,
    "name": "",
    "topic": "UKDM1Z6H0S/nodered-dtu5/data",
    "qos": "1",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "f66dca16ebc75955",
    "x": 760,
    "y": 120,
    "wires": []
  },
  {
    "id": "41ebffa407de6645",
    "type": "function",
    "z": "8e0d5b8d64ed9e2a",
    "name": "33H开始采集",
    "func": "msg.payload = new Buffer([0x33,0x03,0x01,0x64,0x00,0x02,0x80,0x3A]);\nflow.set(\"id\", \"33H\");\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 100,
    "wires": [
      [
        "b221f6a3a5ba0feb",
        "3a85f2d5ff35d604"
      ]
    ]
  },
  {
    "id": "7a03623961a21d18",
    "type": "inject",
    "z": "8e0d5b8d64ed9e2a",
    "d": true,
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 140,
    "y": 100,
    "wires": [
      [
        "41ebffa407de6645"
      ]
    ]
  },
  {
    "id": "107e02b120dc76c6",
    "type": "mqtt in",
    "z": "8e0d5b8d64ed9e2a",
    "name": "",
    "topic": "UKDM1Z6H0S/nodered-dtu5/data",
    "qos": "1",
    "datatype": "auto",
    "broker": "f66dca16ebc75955",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 220,
    "y": 820,
    "wires": [
      [
        "8b9c8ad73e3478f1",
        "1699fda203a62bcc"
      ]
    ]
  },
  {
    "id": "8b9c8ad73e3478f1",
    "type": "function",
    "z": "8e0d5b8d64ed9e2a",
    "name": "CRC16校验",
    "func": "var _auchCRCHi = new  Array(\n                    0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0, 0x80, 0x41, 0x01, 0xC0, \n                    0x80, 0x41, 0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0, 0x80, 0x41, \n                    0x00, 0xC1, 0x81, 0x40, 0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0, \n                    0x80, 0x41, 0x01, 0xC0, 0x80, 0x41, 0x00, 0xC1, 0x81, 0x40, \n                    0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0, 0x80, 0x41, 0x00, 0xC1, \n                    0x81, 0x40, 0x01, 0xC0, 0x80, 0x41, 0x01, 0xC0, 0x80, 0x41, \n                    0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0, 0x80, 0x41, 0x00, 0xC1, \n                    0x81, 0x40, 0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0, 0x80, 0x41, \n                    0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0, 0x80, 0x41, 0x01, 0xC0, \n                    0x80, 0x41, 0x00, 0xC1, 0x81, 0x40, 0x00, 0xC1, 0x81, 0x40, \n                    0x01, 0xC0, 0x80, 0x41, 0x01, 0xC0, 0x80, 0x41, 0x00, 0xC1, \n                    0x81, 0x40, 0x01, 0xC0, 0x80, 0x41, 0x00, 0xC1, 0x81, 0x40, \n                    0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0, 0x80, 0x41, 0x01, 0xC0, \n                    0x80, 0x41, 0x00, 0xC1, 0x81, 0x40, 0x00, 0xC1, 0x81, 0x40, \n                    0x01, 0xC0, 0x80, 0x41, 0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0, \n                    0x80, 0x41, 0x01, 0xC0, 0x80, 0x41, 0x00, 0xC1, 0x81, 0x40, \n                    0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0, 0x80, 0x41, 0x01, 0xC0, \n                    0x80, 0x41, 0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0, 0x80, 0x41, \n                    0x00, 0xC1, 0x81, 0x40, 0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0, \n                    0x80, 0x41, 0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0, 0x80, 0x41, \n                    0x01, 0xC0, 0x80, 0x41, 0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0, \n                    0x80, 0x41, 0x00, 0xC1, 0x81, 0x40, 0x00, 0xC1, 0x81, 0x40, \n                    0x01, 0xC0, 0x80, 0x41, 0x01, 0xC0, 0x80, 0x41, 0x00, 0xC1, \n                    0x81, 0x40, 0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0, 0x80, 0x41, \n                    0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0, 0x80, 0x41, 0x01, 0xC0, \n                    0x80, 0x41, 0x00, 0xC1, 0x81, 0x40);\nvar _auchCRCLo = new Array(\n                    0x00, 0xC0, 0xC1, 0x01, 0xC3, 0x03, 0x02, 0xC2, 0xC6, 0x06, \n                    0x07, 0xC7, 0x05, 0xC5, 0xC4, 0x04, 0xCC, 0x0C, 0x0D, 0xCD, \n                    0x0F, 0xCF, 0xCE, 0x0E, 0x0A, 0xCA, 0xCB, 0x0B, 0xC9, 0x09, \n                    0x08, 0xC8, 0xD8, 0x18, 0x19, 0xD9, 0x1B, 0xDB, 0xDA, 0x1A, \n                    0x1E, 0xDE, 0xDF, 0x1F, 0xDD, 0x1D, 0x1C, 0xDC, 0x14, 0xD4, \n                    0xD5, 0x15, 0xD7, 0x17, 0x16, 0xD6, 0xD2, 0x12, 0x13, 0xD3, \n                    0x11, 0xD1, 0xD0, 0x10, 0xF0, 0x30, 0x31, 0xF1, 0x33, 0xF3, \n                    0xF2, 0x32, 0x36, 0xF6, 0xF7, 0x37, 0xF5, 0x35, 0x34, 0xF4, \n                    0x3C, 0xFC, 0xFD, 0x3D, 0xFF, 0x3F, 0x3E, 0xFE, 0xFA, 0x3A, \n                    0x3B, 0xFB, 0x39, 0xF9, 0xF8, 0x38, 0x28, 0xE8, 0xE9, 0x29, \n                    0xEB, 0x2B, 0x2A, 0xEA, 0xEE, 0x2E, 0x2F, 0xEF, 0x2D, 0xED, \n                    0xEC, 0x2C, 0xE4, 0x24, 0x25, 0xE5, 0x27, 0xE7, 0xE6, 0x26, \n                    0x22, 0xE2, 0xE3, 0x23, 0xE1, 0x21, 0x20, 0xE0, 0xA0, 0x60, \n                    0x61, 0xA1, 0x63, 0xA3, 0xA2, 0x62, 0x66, 0xA6, 0xA7, 0x67, \n                    0xA5, 0x65, 0x64, 0xA4, 0x6C, 0xAC, 0xAD, 0x6D, 0xAF, 0x6F, \n                    0x6E, 0xAE, 0xAA, 0x6A, 0x6B, 0xAB, 0x69, 0xA9, 0xA8, 0x68, \n                    0x78, 0xB8, 0xB9, 0x79, 0xBB, 0x7B, 0x7A, 0xBA, 0xBE, 0x7E, \n                    0x7F, 0xBF, 0x7D, 0xBD, 0xBC, 0x7C, 0xB4, 0x74, 0x75, 0xB5, \n                    0x77, 0xB7, 0xB6, 0x76, 0x72, 0xB2, 0xB3, 0x73, 0xB1, 0x71, \n                    0x70, 0xB0, 0x50, 0x90, 0x91, 0x51, 0x93, 0x53, 0x52, 0x92, \n                    0x96, 0x56, 0x57, 0x97, 0x55, 0x95, 0x94, 0x54, 0x9C, 0x5C, \n                    0x5D, 0x9D, 0x5F, 0x9F, 0x9E, 0x5E, 0x5A, 0x9A, 0x9B, 0x5B, \n                    0x99, 0x59, 0x58, 0x98, 0x88, 0x48, 0x49, 0x89, 0x4B, 0x8B, \n                    0x8A, 0x4A, 0x4E, 0x8E, 0x8F, 0x4F, 0x8D, 0x4D, 0x4C, 0x8C, \n                    0x44, 0x84, 0x85, 0x45, 0x87, 0x47, 0x46, 0x86, 0x82, 0x42, \n                    0x43, 0x83, 0x41, 0x81, 0x80, 0x40);\n \nfunction crc16_modbus(buffer, length)\n{\n    var crcHi = 0xff;\n    var crcLo = 0xff;\n    for (var i = 0; i < length; i++)\n    {\n        var crcIndex = crcHi ^ buffer[i];       \n        crcHi = (crcLo ^ _auchCRCHi[crcIndex]); \n        crcLo = _auchCRCLo[crcIndex];           \n    }\n    return (crcHi << 8 | crcLo);\n}\nvar length=msg.payload.length;\nvar crc16 = crc16_modbus(msg.payload, length-2);\nvar Crc=(crc16);\nvar Val=msg.payload[length-2]*256+msg.payload[length-1];\nif (Crc==Val){\n    return msg;\n}else{\n    return false;\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 510,
    "y": 820,
    "wires": [
      [
        "364fb2958d6da2f1"
      ]
    ]
  },
  {
    "id": "5836086727cdfae8",
    "type": "function",
    "z": "8e0d5b8d64ed9e2a",
    "name": "33H温度值",
    "func": "var tmp = msg.payload[3]*256+msg.payload[4];\nvar temp_reply ={payload:tmp};\nreturn temp_reply;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 910,
    "y": 760,
    "wires": [
      [
        "e435d5af6f919ad5",
        "195b467eeac130a6"
      ]
    ]
  },
  {
    "id": "364fb2958d6da2f1",
    "type": "switch",
    "z": "8e0d5b8d64ed9e2a",
    "name": "",
    "property": "id",
    "propertyType": "flow",
    "rules": [
      {
        "t": "eq",
        "v": "33H",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "34H",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "35H",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "36H",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "37H",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "38H",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "39H",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "3AH",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "3BH",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "3CH",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "3DH",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "3EH",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 12,
    "x": 690,
    "y": 980,
    "wires": [
      [
        "5836086727cdfae8"
      ],
      [
        "b612c9fe0feac304"
      ],
      [
        "47d6e1827f357ce4"
      ],
      [
        "3f850d8a671e030a"
      ],
      [
        "d3c813d8b8fb285c"
      ],
      [
        "f0808955ab673018",
        "8a0f098b0165d1e2"
      ],
      [
        "bf51a976de5bd811"
      ],
      [
        "e8b8a2c7a3c30216"
      ],
      [
        "d0d947527261e2d5"
      ],
      [
        "790748125b906772"
      ],
      [
        "12e4e0f15cc2ab7e"
      ],
      [
        "3fe272ebf3d0614f"
      ]
    ]
  },
  {
    "id": "b221f6a3a5ba0feb",
    "type": "delay",
    "z": "8e0d5b8d64ed9e2a",
    "name": "",
    "pauseType": "delay",
    "timeout": "1000",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 170,
    "y": 140,
    "wires": [
      [
        "d5d8e3a70af71cb6"
      ]
    ]
  },
  {
    "id": "d5d8e3a70af71cb6",
    "type": "function",
    "z": "8e0d5b8d64ed9e2a",
    "name": "34H开始采集",
    "func": "msg.payload = new Buffer([0x34,0x03,0x01,0x64,0x00,0x02,0x81,0x8D]);\nflow.set(\"id\", \"34H\");\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 140,
    "wires": [
      [
        "3a85f2d5ff35d604",
        "f9aaa6609d8ab616"
      ]
    ]
  },
  {
    "id": "b612c9fe0feac304",
    "type": "function",
    "z": "8e0d5b8d64ed9e2a",
    "name": "34H温度值",
    "func": "var tmp = msg.payload[3]*256+msg.payload[4];\nvar temp_reply ={payload:tmp};\nreturn temp_reply;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 910,
    "y": 800,
    "wires": [
      [
        "cbf4e50fe5e7b0dd",
        "e86a8aae40e145fa"
      ]
    ]
  },
  {
    "id": "f9aaa6609d8ab616",
    "type": "delay",
    "z": "8e0d5b8d64ed9e2a",
    "name": "",
    "pauseType": "delay",
    "timeout": "1000",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 170,
    "y": 180,
    "wires": [
      [
        "81faf26710421774"
      ]
    ]
  },
  {
    "id": "81faf26710421774",
    "type": "function",
    "z": "8e0d5b8d64ed9e2a",
    "name": "35H开始采集",
    "func": "msg.payload = new Buffer([0x35,0x03,0x01,0x64,0x00,0x02,0x80,0x5C]);\nflow.set(\"id\", \"35H\");\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 180,
    "wires": [
      [
        "3a85f2d5ff35d604",
        "935cecd88bf46685"
      ]
    ]
  },
  {
    "id": "47d6e1827f357ce4",
    "type": "function",
    "z": "8e0d5b8d64ed9e2a",
    "name": "35H温度值",
    "func": "var tmp = msg.payload[3]*256+msg.payload[4];\nvar temp_reply ={payload:tmp};\nreturn temp_reply;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 910,
    "y": 840,
    "wires": [
      [
        "0897e403e2495b0d",
        "83caf237e09b5682"
      ]
    ]
  },
  {
    "id": "935cecd88bf46685",
    "type": "delay",
    "z": "8e0d5b8d64ed9e2a",
    "name": "",
    "pauseType": "delay",
    "timeout": "1000",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 170,
    "y": 220,
    "wires": [
      [
        "5228b970096a7e14"
      ]
    ]
  },
  {
    "id": "5228b970096a7e14",
    "type": "function",
    "z": "8e0d5b8d64ed9e2a",
    "name": "36H开始采集",
    "func": "msg.payload = new Buffer([0x36,0x03,0x01,0x64,0x00,0x02,0x80,0x6F]);\nflow.set(\"id\", \"36H\");\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 220,
    "wires": [
      [
        "e6853e2dce2db758",
        "3a85f2d5ff35d604"
      ]
    ]
  },
  {
    "id": "e6853e2dce2db758",
    "type": "delay",
    "z": "8e0d5b8d64ed9e2a",
    "name": "",
    "pauseType": "delay",
    "timeout": "1000",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 170,
    "y": 260,
    "wires": [
      [
        "ee7b23a85eb5faec"
      ]
    ]
  },
  {
    "id": "ee7b23a85eb5faec",
    "type": "function",
    "z": "8e0d5b8d64ed9e2a",
    "name": "37H开始采集",
    "func": "msg.payload = new Buffer([0x37,0x03,0x01,0x64,0x00,0x02,0x81,0xBE]);\nflow.set(\"id\", \"37H\");\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 260,
    "wires": [
      [
        "7d8c83509ca854db",
        "3a85f2d5ff35d604"
      ]
    ]
  },
  {
    "id": "7d8c83509ca854db",
    "type": "delay",
    "z": "8e0d5b8d64ed9e2a",
    "name": "",
    "pauseType": "delay",
    "timeout": "1000",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 170,
    "y": 300,
    "wires": [
      [
        "19b0f802c8a2fe5c"
      ]
    ]
  },
  {
    "id": "19b0f802c8a2fe5c",
    "type": "function",
    "z": "8e0d5b8d64ed9e2a",
    "name": "38H开始采集",
    "func": "msg.payload = new Buffer([0x38,0x03,0x01,0x64,0x00,0x02,0x81,0x41]);\nflow.set(\"id\", \"38H\");\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 300,
    "wires": [
      [
        "3a85f2d5ff35d604",
        "aefe42e7cbcdee12"
      ]
    ]
  },
  {
    "id": "3f850d8a671e030a",
    "type": "function",
    "z": "8e0d5b8d64ed9e2a",
    "name": "36H温度值",
    "func": "var tmp = msg.payload[3]*256+msg.payload[4];\nvar temp_reply ={payload:tmp};\nreturn temp_reply;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 910,
    "y": 880,
    "wires": [
      [
        "0733010ca6b543cd",
        "dec43b9b51961599"
      ]
    ]
  },
  {
    "id": "d3c813d8b8fb285c",
    "type": "function",
    "z": "8e0d5b8d64ed9e2a",
    "name": "37H温度值",
    "func": "var tmp = msg.payload[3]*256+msg.payload[4];\nvar temp_reply ={payload:tmp};\nreturn temp_reply;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 910,
    "y": 920,
    "wires": [
      [
        "59d2da82a13237f1",
        "38b54a1e86569972"
      ]
    ]
  },
  {
    "id": "f0808955ab673018",
    "type": "function",
    "z": "8e0d5b8d64ed9e2a",
    "name": "38H温度值",
    "func": "var tmp = msg.payload[3]*256+msg.payload[4];\nvar temp_reply ={payload:tmp};\nreturn temp_reply;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 910,
    "y": 960,
    "wires": [
      [
        "7c3890d7af9a4225",
        "f2b44ff0223ee379"
      ]
    ]
  },
  {
    "id": "e435d5af6f919ad5",
    "type": "influxdb out",
    "z": "8e0d5b8d64ed9e2a",
    "influxdb": "8558e41f95d3e8f5",
    "name": "T33H",
    "measurement": "T33H",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "s",
    "retentionPolicyV18Flux": "",
    "org": "atcc",
    "bucket": "HHYWD",
    "x": 1110,
    "y": 760,
    "wires": []
  },
  {
    "id": "cbf4e50fe5e7b0dd",
    "type": "influxdb out",
    "z": "8e0d5b8d64ed9e2a",
    "influxdb": "8558e41f95d3e8f5",
    "name": "T34H",
    "measurement": "T34H",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "s",
    "retentionPolicyV18Flux": "",
    "org": "atcc",
    "bucket": "HHYWD",
    "x": 1110,
    "y": 800,
    "wires": []
  },
  {
    "id": "0897e403e2495b0d",
    "type": "influxdb out",
    "z": "8e0d5b8d64ed9e2a",
    "influxdb": "8558e41f95d3e8f5",
    "name": "T35H",
    "measurement": "T35H",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "s",
    "retentionPolicyV18Flux": "",
    "org": "atcc",
    "bucket": "HHYWD",
    "x": 1110,
    "y": 840,
    "wires": []
  },
  {
    "id": "0733010ca6b543cd",
    "type": "influxdb out",
    "z": "8e0d5b8d64ed9e2a",
    "influxdb": "8558e41f95d3e8f5",
    "name": "T36H",
    "measurement": "T36H",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "s",
    "retentionPolicyV18Flux": "",
    "org": "atcc",
    "bucket": "HHYWD",
    "x": 1110,
    "y": 880,
    "wires": []
  },
  {
    "id": "59d2da82a13237f1",
    "type": "influxdb out",
    "z": "8e0d5b8d64ed9e2a",
    "influxdb": "8558e41f95d3e8f5",
    "name": "T37H",
    "measurement": "T37H",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "s",
    "retentionPolicyV18Flux": "",
    "org": "atcc",
    "bucket": "HHYWD",
    "x": 1110,
    "y": 920,
    "wires": []
  },
  {
    "id": "7c3890d7af9a4225",
    "type": "influxdb out",
    "z": "8e0d5b8d64ed9e2a",
    "influxdb": "8558e41f95d3e8f5",
    "name": "T38H",
    "measurement": "T38H",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "s",
    "retentionPolicyV18Flux": "",
    "org": "atcc",
    "bucket": "HHYWD",
    "x": 1110,
    "y": 960,
    "wires": []
  },
  {
    "id": "195b467eeac130a6",
    "type": "ui_gauge",
    "z": "8e0d5b8d64ed9e2a",
    "name": "",
    "group": "16468ab912890ff8",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "4#T3",
    "label": "°C",
    "format": "{{value}}",
    "min": "0",
    "max": "1200",
    "colors": [
      "#e6f000",
      "#00e600",
      "#ca3838"
    ],
    "seg1": "400",
    "seg2": "800",
    "className": "",
    "x": 1270,
    "y": 740,
    "wires": []
  },
  {
    "id": "e86a8aae40e145fa",
    "type": "ui_gauge",
    "z": "8e0d5b8d64ed9e2a",
    "name": "",
    "group": "afe86f913fabee04",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "4#T4",
    "label": "°C",
    "format": "{{value}}",
    "min": "0",
    "max": "1200",
    "colors": [
      "#e6f000",
      "#00e600",
      "#ca3838"
    ],
    "seg1": "400",
    "seg2": "800",
    "className": "",
    "x": 1270,
    "y": 780,
    "wires": []
  },
  {
    "id": "83caf237e09b5682",
    "type": "ui_gauge",
    "z": "8e0d5b8d64ed9e2a",
    "name": "",
    "group": "1ad466bddd212db7",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "4#T5",
    "label": "°C",
    "format": "{{value}}",
    "min": "0",
    "max": "1200",
    "colors": [
      "#e6f000",
      "#00e600",
      "#ca3838"
    ],
    "seg1": "400",
    "seg2": "800",
    "className": "",
    "x": 1270,
    "y": 820,
    "wires": []
  },
  {
    "id": "dec43b9b51961599",
    "type": "ui_gauge",
    "z": "8e0d5b8d64ed9e2a",
    "name": "",
    "group": "20ed653e0278f4bb",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "4#T6",
    "label": "°C",
    "format": "{{value}}",
    "min": "0",
    "max": "1200",
    "colors": [
      "#e6f000",
      "#00e600",
      "#ca3838"
    ],
    "seg1": "400",
    "seg2": "800",
    "className": "",
    "x": 1270,
    "y": 860,
    "wires": []
  },
  {
    "id": "38b54a1e86569972",
    "type": "ui_gauge",
    "z": "8e0d5b8d64ed9e2a",
    "name": "",
    "group": "f17e67702e09c7ad",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "4#T2",
    "label": "°C",
    "format": "{{value}}",
    "min": "0",
    "max": "1200",
    "colors": [
      "#e6f000",
      "#00e600",
      "#ca3838"
    ],
    "seg1": "400",
    "seg2": "800",
    "className": "",
    "x": 1270,
    "y": 900,
    "wires": []
  },
  {
    "id": "f2b44ff0223ee379",
    "type": "ui_gauge",
    "z": "8e0d5b8d64ed9e2a",
    "name": "",
    "group": "177e717c78bc7193",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "4#T1",
    "label": "°C",
    "format": "{{value}}",
    "min": "0",
    "max": "1200",
    "colors": [
      "#e6f000",
      "#00e600",
      "#ca3838"
    ],
    "seg1": "400",
    "seg2": "800",
    "className": "",
    "x": 1270,
    "y": 940,
    "wires": []
  },
  {
    "id": "aefe42e7cbcdee12",
    "type": "delay",
    "z": "8e0d5b8d64ed9e2a",
    "name": "",
    "pauseType": "delay",
    "timeout": "1000",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 170,
    "y": 340,
    "wires": [
      [
        "8836f8996c19ee7f"
      ]
    ]
  },
  {
    "id": "8836f8996c19ee7f",
    "type": "function",
    "z": "8e0d5b8d64ed9e2a",
    "name": "39H开始采集",
    "func": "msg.payload = new Buffer([0x39,0x03,0x01,0x64,0x00,0x02,0x80,0x90]);\nflow.set(\"id\", \"39H\");\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 340,
    "wires": [
      [
        "3a85f2d5ff35d604",
        "ef90dc37631302bf"
      ]
    ]
  },
  {
    "id": "ef90dc37631302bf",
    "type": "delay",
    "z": "8e0d5b8d64ed9e2a",
    "name": "",
    "pauseType": "delay",
    "timeout": "1000",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 170,
    "y": 380,
    "wires": [
      [
        "8ce8f29dc0d31b30"
      ]
    ]
  },
  {
    "id": "8ce8f29dc0d31b30",
    "type": "function",
    "z": "8e0d5b8d64ed9e2a",
    "name": "3AH开始采集",
    "func": "msg.payload = new Buffer([0x3A,0x03,0x01,0x64,0x00,0x02,0x80,0xA3]);\nflow.set(\"id\", \"3AH\");\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 380,
    "wires": [
      [
        "3a85f2d5ff35d604",
        "098cd0ae10fc92e6"
      ]
    ]
  },
  {
    "id": "098cd0ae10fc92e6",
    "type": "delay",
    "z": "8e0d5b8d64ed9e2a",
    "name": "",
    "pauseType": "delay",
    "timeout": "1000",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 170,
    "y": 420,
    "wires": [
      [
        "31eb281de278621f"
      ]
    ]
  },
  {
    "id": "31eb281de278621f",
    "type": "function",
    "z": "8e0d5b8d64ed9e2a",
    "name": "3BH开始采集",
    "func": "msg.payload = new Buffer([0x3B,0x03,0x01,0x64,0x00,0x02,0x81,0x72]);\nflow.set(\"id\", \"3BH\");\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 420,
    "wires": [
      [
        "3a85f2d5ff35d604",
        "700902366e3916e6"
      ]
    ]
  },
  {
    "id": "700902366e3916e6",
    "type": "delay",
    "z": "8e0d5b8d64ed9e2a",
    "name": "",
    "pauseType": "delay",
    "timeout": "1000",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 170,
    "y": 460,
    "wires": [
      [
        "8dffa6879d51e637"
      ]
    ]
  },
  {
    "id": "8dffa6879d51e637",
    "type": "function",
    "z": "8e0d5b8d64ed9e2a",
    "name": "3CH开始采集",
    "func": "msg.payload = new Buffer([0x3C,0x03,0x01,0x64,0x00,0x02,0x80,0xC5]);\nflow.set(\"id\", \"3CH\");\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 460,
    "wires": [
      [
        "3a85f2d5ff35d604",
        "e5a1dfe8e04eb594"
      ]
    ]
  },
  {
    "id": "e5a1dfe8e04eb594",
    "type": "delay",
    "z": "8e0d5b8d64ed9e2a",
    "name": "",
    "pauseType": "delay",
    "timeout": "1000",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 170,
    "y": 500,
    "wires": [
      [
        "c16e424350c89b83"
      ]
    ]
  },
  {
    "id": "c16e424350c89b83",
    "type": "function",
    "z": "8e0d5b8d64ed9e2a",
    "name": "3DH开始采集",
    "func": "msg.payload = new Buffer([0x3D,0x03,0x01,0x64,0x00,0x02,0x81,0x14]);\nflow.set(\"id\", \"3DH\");\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 500,
    "wires": [
      [
        "3a85f2d5ff35d604",
        "9b1e63bbd61a335e"
      ]
    ]
  },
  {
    "id": "9b1e63bbd61a335e",
    "type": "delay",
    "z": "8e0d5b8d64ed9e2a",
    "name": "",
    "pauseType": "delay",
    "timeout": "1000",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 170,
    "y": 540,
    "wires": [
      [
        "c90215ef78893672"
      ]
    ]
  },
  {
    "id": "c90215ef78893672",
    "type": "function",
    "z": "8e0d5b8d64ed9e2a",
    "name": "3EH开始采集",
    "func": "msg.payload = new Buffer([0x3E,0x03,0x01,0x64,0x00,0x02,0x81,0x27]);\nflow.set(\"id\", \"3EH\");\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 540,
    "wires": [
      [
        "3a85f2d5ff35d604"
      ]
    ]
  },
  {
    "id": "bf51a976de5bd811",
    "type": "function",
    "z": "8e0d5b8d64ed9e2a",
    "name": "39H温度值",
    "func": "var tmp = msg.payload[3]*256+msg.payload[4];\nvar temp_reply ={payload:tmp};\nreturn temp_reply;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 910,
    "y": 1000,
    "wires": [
      [
        "c3c1532b38db1745",
        "ff711edf856cc66e"
      ]
    ]
  },
  {
    "id": "c3c1532b38db1745",
    "type": "influxdb out",
    "z": "8e0d5b8d64ed9e2a",
    "influxdb": "8558e41f95d3e8f5",
    "name": "T39H",
    "measurement": "T39H",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "s",
    "retentionPolicyV18Flux": "",
    "org": "atcc",
    "bucket": "HHYWD",
    "x": 1110,
    "y": 1000,
    "wires": []
  },
  {
    "id": "ff711edf856cc66e",
    "type": "ui_gauge",
    "z": "8e0d5b8d64ed9e2a",
    "name": "",
    "group": "223a960eddd9e71e",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "3#T1",
    "label": "°C",
    "format": "{{value}}",
    "min": "0",
    "max": "1200",
    "colors": [
      "#e6f000",
      "#00e600",
      "#ca3838"
    ],
    "seg1": "400",
    "seg2": "800",
    "className": "",
    "x": 1270,
    "y": 980,
    "wires": []
  },
  {
    "id": "e8b8a2c7a3c30216",
    "type": "function",
    "z": "8e0d5b8d64ed9e2a",
    "name": "3AH温度值",
    "func": "var tmp = msg.payload[3]*256+msg.payload[4];\nvar temp_reply ={payload:tmp};\nreturn temp_reply;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 910,
    "y": 1040,
    "wires": [
      [
        "17c2bf631036f4b0",
        "14cc27f60c7185cd"
      ]
    ]
  },
  {
    "id": "17c2bf631036f4b0",
    "type": "influxdb out",
    "z": "8e0d5b8d64ed9e2a",
    "influxdb": "8558e41f95d3e8f5",
    "name": "T3AH",
    "measurement": "T3AH",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "s",
    "retentionPolicyV18Flux": "",
    "org": "atcc",
    "bucket": "HHYWD",
    "x": 1110,
    "y": 1040,
    "wires": []
  },
  {
    "id": "d0d947527261e2d5",
    "type": "function",
    "z": "8e0d5b8d64ed9e2a",
    "name": "3BH温度值",
    "func": "var tmp = msg.payload[3]*256+msg.payload[4];\nvar temp_reply ={payload:tmp};\nreturn temp_reply;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 910,
    "y": 1080,
    "wires": [
      [
        "7ff1e0d2042add51",
        "feb0da3cfa41690e"
      ]
    ]
  },
  {
    "id": "7ff1e0d2042add51",
    "type": "influxdb out",
    "z": "8e0d5b8d64ed9e2a",
    "influxdb": "8558e41f95d3e8f5",
    "name": "T3BH",
    "measurement": "T3BH",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "s",
    "retentionPolicyV18Flux": "",
    "org": "atcc",
    "bucket": "HHYWD",
    "x": 1110,
    "y": 1080,
    "wires": []
  },
  {
    "id": "790748125b906772",
    "type": "function",
    "z": "8e0d5b8d64ed9e2a",
    "name": "3CH温度值",
    "func": "var tmp = msg.payload[3]*256+msg.payload[4];\nvar temp_reply ={payload:tmp};\nreturn temp_reply;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 910,
    "y": 1120,
    "wires": [
      [
        "5c6c6c3b6ea04c39",
        "3b6e0ec0c9e366b1"
      ]
    ]
  },
  {
    "id": "5c6c6c3b6ea04c39",
    "type": "influxdb out",
    "z": "8e0d5b8d64ed9e2a",
    "influxdb": "8558e41f95d3e8f5",
    "name": "T3CH",
    "measurement": "T3CH",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "s",
    "retentionPolicyV18Flux": "",
    "org": "atcc",
    "bucket": "HHYWD",
    "x": 1110,
    "y": 1120,
    "wires": []
  },
  {
    "id": "12e4e0f15cc2ab7e",
    "type": "function",
    "z": "8e0d5b8d64ed9e2a",
    "name": "3DH温度值",
    "func": "var tmp = msg.payload[3]*256+msg.payload[4];\nvar temp_reply ={payload:tmp};\nreturn temp_reply;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 910,
    "y": 1160,
    "wires": [
      [
        "d2ef4727c69c8fe3",
        "65901da9e978ab0f"
      ]
    ]
  },
  {
    "id": "d2ef4727c69c8fe3",
    "type": "influxdb out",
    "z": "8e0d5b8d64ed9e2a",
    "influxdb": "8558e41f95d3e8f5",
    "name": "T3DH",
    "measurement": "T3DH",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "s",
    "retentionPolicyV18Flux": "",
    "org": "atcc",
    "bucket": "HHYWD",
    "x": 1110,
    "y": 1160,
    "wires": []
  },
  {
    "id": "3fe272ebf3d0614f",
    "type": "function",
    "z": "8e0d5b8d64ed9e2a",
    "name": "3EH温度值",
    "func": "var tmp = msg.payload[3]*256+msg.payload[4];\nvar temp_reply ={payload:tmp};\nreturn temp_reply;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 910,
    "y": 1200,
    "wires": [
      [
        "b2f3286b4bf611e8",
        "fde740a7cb841805"
      ]
    ]
  },
  {
    "id": "b2f3286b4bf611e8",
    "type": "influxdb out",
    "z": "8e0d5b8d64ed9e2a",
    "influxdb": "8558e41f95d3e8f5",
    "name": "T3EH",
    "measurement": "T3EH",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "s",
    "retentionPolicyV18Flux": "",
    "org": "atcc",
    "bucket": "HHYWD",
    "x": 1110,
    "y": 1200,
    "wires": []
  },
  {
    "id": "14cc27f60c7185cd",
    "type": "ui_gauge",
    "z": "8e0d5b8d64ed9e2a",
    "name": "",
    "group": "f4f3450a6c9188ad",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "3#T2",
    "label": "°C",
    "format": "{{value}}",
    "min": "0",
    "max": "1200",
    "colors": [
      "#e6f000",
      "#00e600",
      "#ca3838"
    ],
    "seg1": "400",
    "seg2": "800",
    "className": "",
    "x": 1270,
    "y": 1020,
    "wires": []
  },
  {
    "id": "feb0da3cfa41690e",
    "type": "ui_gauge",
    "z": "8e0d5b8d64ed9e2a",
    "name": "",
    "group": "981f0eaa7028c221",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "3#T3",
    "label": "°C",
    "format": "{{value}}",
    "min": "0",
    "max": "1200",
    "colors": [
      "#e6f000",
      "#00e600",
      "#ca3838"
    ],
    "seg1": "400",
    "seg2": "800",
    "className": "",
    "x": 1270,
    "y": 1060,
    "wires": []
  },
  {
    "id": "3b6e0ec0c9e366b1",
    "type": "ui_gauge",
    "z": "8e0d5b8d64ed9e2a",
    "name": "",
    "group": "c255c0117228dead",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "3#T4",
    "label": "°C",
    "format": "{{value}}",
    "min": "0",
    "max": "1200",
    "colors": [
      "#e6f000",
      "#00e600",
      "#ca3838"
    ],
    "seg1": "400",
    "seg2": "800",
    "className": "",
    "x": 1270,
    "y": 1100,
    "wires": []
  },
  {
    "id": "65901da9e978ab0f",
    "type": "ui_gauge",
    "z": "8e0d5b8d64ed9e2a",
    "name": "",
    "group": "2352ee95131d1753",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "3#T5",
    "label": "°C",
    "format": "{{value}}",
    "min": "0",
    "max": "1200",
    "colors": [
      "#e6f000",
      "#00e600",
      "#ca3838"
    ],
    "seg1": "400",
    "seg2": "800",
    "className": "",
    "x": 1270,
    "y": 1140,
    "wires": []
  },
  {
    "id": "fde740a7cb841805",
    "type": "ui_gauge",
    "z": "8e0d5b8d64ed9e2a",
    "name": "",
    "group": "326d5be42d4d09ae",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "3#T6",
    "label": "°C",
    "format": "{{value}}",
    "min": "0",
    "max": "1200",
    "colors": [
      "#e6f000",
      "#00e600",
      "#ca3838"
    ],
    "seg1": "400",
    "seg2": "800",
    "className": "",
    "x": 1270,
    "y": 1180,
    "wires": []
  },
  {
    "id": "8a0f098b0165d1e2",
    "type": "debug",
    "z": "8e0d5b8d64ed9e2a",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 890,
    "y": 600,
    "wires": []
  },
  {
    "id": "1699fda203a62bcc",
    "type": "debug",
    "z": "8e0d5b8d64ed9e2a",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 490,
    "y": 720,
    "wires": []
  },
  {
    "id": "f66dca16ebc75955",
    "type": "mqtt-broker",
    "name": "回火窑温度",
    "broker": "UKDM1Z6H0S.iotcloud.tencentdevices.com",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "8558e41f95d3e8f5",
    "type": "influxdb",
    "hostname": "influxdb",
    "port": "8086",
    "protocol": "http",
    "database": "database",
    "name": "influxdb",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "2.0",
    "url": "http://atcc-influxdb.ciih.net",
    "rejectUnauthorized": true
  },
  {
    "id": "16468ab912890ff8",
    "type": "ui_group",
    "name": "4#T3",
    "tab": "9171da4e65d6a434",
    "order": 3,
    "disp": false,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "afe86f913fabee04",
    "type": "ui_group",
    "name": "4#T4",
    "tab": "9171da4e65d6a434",
    "order": 4,
    "disp": false,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "1ad466bddd212db7",
    "type": "ui_group",
    "name": "4#T5",
    "tab": "9171da4e65d6a434",
    "order": 5,
    "disp": false,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "20ed653e0278f4bb",
    "type": "ui_group",
    "name": "4#T6",
    "tab": "9171da4e65d6a434",
    "order": 6,
    "disp": false,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "f17e67702e09c7ad",
    "type": "ui_group",
    "name": "4#T2",
    "tab": "9171da4e65d6a434",
    "order": 2,
    "disp": false,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "177e717c78bc7193",
    "type": "ui_group",
    "name": "4#T1",
    "tab": "9171da4e65d6a434",
    "order": 1,
    "disp": false,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "223a960eddd9e71e",
    "type": "ui_group",
    "name": "3#T1",
    "tab": "9171da4e65d6a434",
    "order": 7,
    "disp": false,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "f4f3450a6c9188ad",
    "type": "ui_group",
    "name": "3#T2",
    "tab": "9171da4e65d6a434",
    "order": 8,
    "disp": false,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "981f0eaa7028c221",
    "type": "ui_group",
    "name": "3#T3",
    "tab": "9171da4e65d6a434",
    "order": 9,
    "disp": false,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "c255c0117228dead",
    "type": "ui_group",
    "name": "3#T4",
    "tab": "9171da4e65d6a434",
    "order": 10,
    "disp": false,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "2352ee95131d1753",
    "type": "ui_group",
    "name": "3#T5",
    "tab": "9171da4e65d6a434",
    "order": 11,
    "disp": false,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "326d5be42d4d09ae",
    "type": "ui_group",
    "name": "3#T6",
    "tab": "9171da4e65d6a434",
    "order": 12,
    "disp": false,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "9171da4e65d6a434",
    "type": "ui_tab",
    "name": "回火窑温度",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]
